{% extends "layout.html" %}
{% block content %}
    <h1>About electo:</h1>
    <div class = "content-section"><pre style = "font-family: sans-serif; overflow: scroll;">
Elections being a vital part of a democracy are also a headache. Everything is smart now-a-days, why not elections. So, we decided to make elections smart.

From the 1.3 Billion Indian population, 66.4% was the maximum voting percentage registered in any election. We intend to change this.
Traditional election systems are very insecure since they provide no proof that data won’t be altered after voting.

It is time consuming and inconvenient for everyone in this process. Intense traffic, vacated schools and long queues of voters are a usual sight. This causes a lot of expenditure which in turn affect the taxpayers.

Our idea for smart elections -
It uses blockchain which is cryptographically secured using hashing which assures the immutability of data. The network is decentralized and distributed.

User authentication is done via a SHA-256 encryption which is uncrackable till date hashed with the time of request up to the 10^-6th value. Smart contracts are also being implemented to set rules for the election.

Globally accessible to anyone who has a smart device and internet connectivity rather than expenditure for deploying multiple booths, paying the operators in addition to the money spent by voters to reach there.

For those who don’t have access, booths can be set up with instructors making it convenient for everyone.

Voters will be provided with the history of candidates along with any criminal records and past work.

And most importantly, voters won’t have the psychological stress they face during traditional elections thereby having a clear mind and environment so that they can make an unbiased decision.
</pre>
    </div>
{% endblock content %}
