{% extends "layout.html" %}
{% block content %}
<div>
<h1>Voter Login</h1><br>

<form method="post" action="http://localhost:5000/voter_login">
    <div class = "form-group content-section p-5">
        <input placeholder="Public key" class = "form-control" type="text" name="public_key" value="{{ pk }}">
        <br/>
        <input placeholder="Private key" class = "form-control" type="password" name='private_key' value="{{ prk }}">
        <br/>
        <input class = "btn btn-info pl-4 pr-4" type="submit" value="login">
    </div>

    <a href="{{ url_for('generate') }}" class = "btn btn-info"> Generate secure passcode</a><br>
</form>

</div>
{% endblock %}